{% extends "accounts/header.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        {%block title %} Home {% endblock %}
        {% block content %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/perfil.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/user_home.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <div class="container-slider">
            <ul class="slider">
              <li id="slide1">
                <img src="{% static '/css/img/cancha1.jpg' %}"/>
              </li>
              <li id="slide2">
                <img src="{% static 'css/img/cancha2.jpg' %}"/>
              </li>
            </ul>
            <ul class="menu">
              <li>
                <a href="#slide1"></a>
              </li>
              <li>
                <a href="#slide2"></a>
              </li>
            </ul>
        </div>
        
        <div style="background-color: aliceblue ; opacity: 85%; margin: 10px; border-radius: 10px; padding: 10px;" id="informacion">
            <h3>Quienes Somos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</br>Inventore debitis at eveniet enim blanditiis deleniti nisi rerum,</br>placeat nostrum architecto repellendus odio illo? Ducimus minima, animi culpa doloremque dicta voluptatem!</p>
            <h3>Información de uso de la página</h3>
            <p>
                Esta pagina proporciona un sistema sencillo para que pueda reservar un turno en nuestras canchas de futbol 5.</br>
                Para solicitar y administrar turnos es obligatorio el registro e inicio de sesión.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</br>. Inventore debitis at eveniet enim blanditiis deleniti nisi re</br>rum, placeat nostrum architecto repellendus odio illo? Ducimus minima, animi culpa doloremque dicta voluptatem!</p>
        </div>
        <label id="ubicacion">
            <h1 style="color: aliceblue; margin:10px;">Donde nos encontramos</h1>
            <div style="background-color: aliceblue ; opacity: 85%; margin: 10px; border-radius: 10px; padding: 10px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58867.69516225966!2d-41.905017!3d-22.756809!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96555b5418c1c5%3A0x4057990cbfc85c98!2sSol%20Da%20Tartaruga!5e0!3m2!1ses-419!2sar!4v1615912855436!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </label>
        </div>
    </body>

    
    {% endblock %}
</html>