body{
    background: url(./img/opcion1.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.span8 {
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 77%;
}

.datos {
    color: rgb(2, 2, 2);
    opacity: 100%;
}

.btn-warning{
    padding-bottom: 1px;
}

.fa-edit{
    padding-bottom: 1px;
}
