{% extends 'accounts/header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %} Mis Turnos {% endblock %}
        <meta charset="UTF-8">
        {% block content %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/fomulario.css' %}">
    </head>
    <body>
        {% if message %}
            <div class="aler alert-success" role="alert">
                Turno editado exitosamente!
            </div>
        {% endif %}
        <div class="modal-dialog text-center">
            <div class="col-sm-9 main-section">
                <div class="modal-content">
                    <label style="font-size: 30px; color: aliceblue;">Editar Turno</label>
                    <form method="POST" action="{% url 'actualizar_turno' turno.id %}" class="col-12">
                        {% csrf_token %}
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label style="font-size: 20px; color: aliceblue;">Cancha:</label>
							</div>
							{{form.cancha}}
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label style="font-size: 20px; color: aliceblue;">Seleccione Dia:</label>
							</div>
							{{form.dia}}
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<label style="font-size: 20px;color: aliceblue;">Seleccione Hora:</label>
							</div>
							{{form.hora}}
						</div>
                        <div class="input-group mb-2">
                            {{form.persona}}
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="submit" value="Guardar Cambios" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>            
    </body>
    {% endblock %} 
</html>