{% extends 'accounts/header.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Perfil {% endblock %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/perfil.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==" crossorigin="anonymous"></script>


</head>
{% block js %}
    <script>
        function eliminarTurno(id) {
            Swal.fire({
                "title": "¿Estas seguro?",
                "text": "No podrá deshacer esta acción",
                "icon": "question",
                "showCancelButton":true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
            })
            .then(function(result){
                if(result.isConfirmed) {
                    window.location.href = "/EliminarTurno/"+id+"/"
                }
            })
        }
    </script>
{% endblock %}
<body>
    <div class="container-lg well span6">
        <div class="row-fluid">
            <div class="span8">
                <div class="row">
                    <div class ="col-md-4">
                        <label><h4 class="datos">Nombre de Usuario: </h4></label>
                    </div>
                    <p><h4 class="datos">{{ user.username }}</h4></p><!---<div style="margin-left: 7px;"><a class="btn btn-light btn-xs" href="#"><i class="fas fa-edit btn-xs"></i></a></div>--->
                </div>
                <div class="row">
                    <div class ="col-md-4">
                        <label><h4 class="datos">Nombres: </h4></label>
                    </div>
                    <p><h4 class="datos">{{ user.first_name }}</h4><p>
                </div>
                <div class="row">
                    <div class ="col-md-4">
                        <label><h4 class="datos">Apellidos: </h4></label>
                    </div>
                    <p><h4 class="datos">{{ user.surname }}</h4><p>
                </div>
                <div class="row">
                    <div class ="col-md-4">
                        <label><h4 class="datos">Email: </h4></label>
                    </div>
                    <p><h4 class="datos">{{ user.email }}</h4><p>
                </div>
                <div class="row">
                    <div class="col float-md-right">
                        <a href="{% url 'editar_user' user.id %}"><i class="fas fa-user-edit"></i>Editar Usuario</a>
                    </div>
                </div>
            </div>
    {% if message.success %}
            Turno eliminado exitosamente!
    {% endif %}
    <table class="table" style="margin-top: 20px;">
        <thead>
            <tr> 
                <td colspan="6"><h2>Lista de Turnos</h2></td> 
             </tr>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nro. Cancha</th>
            <th scope="col">Fecha</th>
            <th scope="col">Horario</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
        {% for i in turnos %}
            <tr>
                <td>{{ i.persona.dni }}</td>
                <td>{{ i.cancha_id }}</td>
                <td>{{ i.dia }}</td>
                <td>{{ i.hora }}</td>
                <td>
                    <a class="btn btn-danger" href="#" onclick="eliminarTurno({{ i.id }})"><i class="fas fa-trash btn-xs"></i></a>
                    <a class="btn btn-success btn-xs" href="{% url 'editar_turno' i.id %}"><i class="fas fa-edit btn-xs"></i></a>
                </td>
            </tr> 
        {% endfor %}    
        </tbody>
      </table>
    {% endblock %}

</body>
</html>