{% extends 'accounts/header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Perfil {% endblock %}
    {% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    {% if message %}
        <div class="aler alert-success" role="alert">
            Turno eliminado exitosamente!
        </div>
    {% endif %}
    
    <h1>Vista para el perfil del usuario</h1>
    <div>
        <div>
            <span class="data">Nombres:  </span><span>{{ user.first_name }}</span>
        </div>
        <div>
            <span class="data">Apellidos:  </span><span>{{ user.surname }}</span>
        </div>
        <div>
            <span class="data">Email:  </span><span>{{ user.email }}</span>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr> 
                <td colspan="6"><h2>Lista de Turnos</h2></td> 
             </tr>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nro. Cancha</th>
            <th scope="col">Fecha</th>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
        {% for i in turnos %}
            <tr>
                <td>{{ i.persona.dni }}</td>
                <td>{{ i.cancha_id }}</td>
                <td>{{ i.dia }}</td>
                <td>{{ i.hora }}</td>
                <td>
                    <a class="btn btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a>
                    <a class="btn btn-warning" href="{% url 'editar_turno' i.id %}">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endblock %}
</body>
</html>