{% extends 'accounts/header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Perfil {% endblock %} 
</head>
<body>
    {% block content %}
    <h1>Vista para el perfil del usuario</h1>
    <div>
        <div>
            <span class="data">Nombres:  </span><span>{{ user.first_name }}</span>
        </div>
        <div>
            <span class="data">Apellidos:  </span><span>{{ user.surname }}</span>
        </div>
        <div>
            <span class="data">Email:  </span><span>{{ user.email }}</span>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr> 
                <td colspan="4"><h2>Lista de Turnos</h2></td> 
             </tr>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nro. Cancha</th>
            <th scope="col">Fecha</th>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
        {% for i in turnos %}
            <tr>
                <td>{{ i.persona.dni }}</td>
                <td>{{ i.cancha_id }}</td>
                <td>{{ i.dia }}</td>
                <td>{{ i.hora }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endblock %}
</body>
</html>