{% extends 'accounts/header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Reserva de turno {% endblock %}
    {% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
                <form method="POST" action="." class="col-12">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        <span>Seleccione Cancha: {{form.cancha}}</span>
                    </div>
                    <div class="input-group mb-2"> 
                        <span>Seleccione dia: {{form.dia}}</span>
                    </div>
                    <div class="input-group mb-2">
                        <span>Seleccione horario: {{form.hora}}</span>
                    </div>
                    <div class="input-group mb-2">
                        {{form.persona}}
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-flat">
                            <i class="fas fa-save"></i>Confirmar Reserva
                        </button>
                    </div>
                </form>
    {% endblock %}
</body>
</html>
